.borderBlackThin {
    border: 1px solid black;
}

.borderRadius5px {
    border-radius: 5px;
}

.borderLeftNone {
    border-left: none;
}

.borderRightNone {
    border-right: none;
}

.borderTopNone {
    border-top: none;
}