/* Font family */
.fontFamilyInherit {
    font-family: inherit;
}

/* Font size */
.fontSize25px {
    font-size: 25px;
}

.fontSizeInherit {
    font-size: inherit;
}

.fontSize17px {
    font-size: 17px;
}

.fontSize20px {
    font-size: 20px;
}

.fontSize15px {
    font-size: 15px;
}

.fontSize12px {
    font-size: 12px;
}

.fontSize8px {
    font-size: 8px;
}

/* Font weight */
.fontWeightBold {
    font-weight: bold;
}

.fontWeightNormal {
    font-weight: normal;
}