.heightFitContent {
    height: fit-content;
}

.heightFitParent {
    height: 100%;
}

.height350px {
    height: 350px;
}

.heightFitScreen {
    height: 100vh;
}

.height50px {
    height: 50px;
}

.height37px {
    height: 37px;
}

.height500px {
    height: 500px;
}

.height550px {
    height: 550px
}