.noPadding {
    padding: 0px;
}

.padding10px {
    padding: 10px;
}

.padding5px {
    padding: 5px;
}

.paddingLeft10px {
    padding-left: 10px;
}

.paddingRight10px {
    padding-right: 10px;
}

.paddingLeft25px {
    padding-left: 25px;
}

.paddingRight25px {
    padding-right: 25px;
}

.paddingTop5px {
    padding-top: 5px;
}

.paddingBottom5px {
    padding-bottom: 5px;
}

.paddingLeft5px {
    padding-left: 5px;
}

.paddingTop10px {
    padding-top: 10px;
}

.paddingBottom10px {
    padding-bottom: 10px;
}