.textAlignCenter {
    text-align: center;
}

.textAlignRight {
    text-align: right;
}

.textAlignLeft {
    text-align: left;
}

.textAlignJustify {
    text-align: justify;
}

.textColorRed {
    color: red;
}