.widthFitContent {
    width: fit-content;
}

.width400px {
    width: 400px;
}

.widthFitParent {
    width: 100%;
}

.width250px {
    width: 250px;
}

.width200px {
    width: 200px
}

.width275px {
    width: 275px;
}

.width135px {
    width: 135px;
}

.width150px {
    width: 150px;
}

.widthInherit {
    width: inherit;
}

.width500px {
    width: 500px;
}

.width350px {
    width: 350px;
}

.widthFitScreen {
    width: 100vw;
}

.width40Percent {
    width: 40%;
}

.width45Percent {
    width: 45px;
}

.width95Percent {
    width: 95%;
}

.width50px {
    width: 50px
}

.width75px {
    width: 75px;
}